body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

main {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.resume-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

iframe {
    width: 80%;
    height: 80vh;
    border: none;
}

.resume-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profile-pic {
    width: 333px;
    height: 333px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.profile-container p {
    margin: 10px 0;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.icon-container img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.info h1 {
    margin: 0;
    font-size: 2em;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}

a {
    text-decoration: none;
    color: rgb(25, 162, 208);
  }

body {
    text-align: justify;
  }

p {
    margin-bottom: 5px;
    margin-right: 250px;
}

li {
    margin-right: 250px;
}

.project-image {
    float: right;
    margin-left: 15px;
    width: 200px;
    height: auto;
    margin: 5px 15px 15px 5px;
}
